
.cell{
  display: flex;
  font-size: 15px;
  justify-content: space-around;
}

.caller-sign{
  font-size: 10px;
  color: blue;
}

.job{
  color: green;
  text-decoration: underline;
  font-size: 15px;
}
