.App {
  text-align: center;
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

.MovieList {
  min-height: 100vh;
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.Nav {
  display: flex;
  justify-content: space-around;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
}

.Movie {
  height: 100px;
  width: 100px;
  background: rgb(209, 180, 116);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 5%;
  margin: 5%;
}